{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<main>
    {{> title data="Facebook" big=true}}
    <hr>
    <section>
        <ul>
          <span class="badge text-bg-info">Info</span>
            <div>{{name}}</div>
            <hr>
            {{> title data="Users" big=true}}
            {{#each users}}
            <hr>
            <h5>Name</h5>
            <li>id: {{id}}</li>
            <p>name: {{name}}</p>
            <p>gender: {{gender}}</p>
            <p>age: {{age}}</p>
            <b>Friends</b>
            {{#each friends}}
            <span class="badge text-bg-primary">Primary</span>
             <li>id: {{id}}</li>
            <p>name: {{name}}</p>
            <p>gender: {{gender}}</p>
            <p>age: {{age}}</p>
            <br>
            <div>Mutual friends</div>
            <br>
            {{#each mutual_friends}}
            <span class="badge text-bg-secondary">Secondary</span>
            <p>id: {{id}}</p>
            <p>name: {{name}}</p>
            <p>gender: {{gender}}</p>
            <p>age: {{age}}</p>
            {{/each}}
            <span class="badge text-bg-dark">Other</span>
             <h5>Groups</h5>
            <div>Name:</div>
            {{#each groups}}
            <br>
             <p>id: {{id}}</p>
            <p>name: {{name}}</p>
             <p>description: {{description}}</p>
             <div>Members:</div>
             {{#each members}}
              <li>id: {{id}}</li>
            <p>name: {{name}}</p>
            <p>gender: {{gender}}</p>
            <p>age: {{age}}</p>
             {{/each}}
             
            {{/each}}
            {{/each}}
            <hr>
          
            {{#each groups}}
            
             <li class="mt-5">id: {{id}}</li>
            <p>name: {{name}}</p>
             <p>description: {{description}}</p>
             <div>Members:</div>
             {{#each members}}
              <p>id: {{id}}</p>
            <p>name: {{name}}</p>
            <p>gender: {{gender}}</p>
            <p>age: {{age}}</p>
             {{/each}}
             
            {{/each}}
            
            {{/each}}
            
        </ul>
    </section>
</main>


{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
