<main>
      {{#with page_header}}
        <h1 class="text-center">{{title}}</h1>
        <br>
        <p class=" text-center text-uppercase">{{description}}</p>

      <br>

     <div class="card">
          <div class="card-body">

      {{/with}}
      {{#with section}}
          {{#with about_us}}
               {{#with title_list}}
                    <div>
                    <div class="display-6 text-end">{{main}}</div>
                    </div>

                    <br>

                    <div>
                    <h2 class="text-end">{{sub}}</h2>
                    </div>
               {{/with}}

               <br>

               {{#with button}}
               <button class=" btn btn-outline-info btn-lg">{{text}}</button>
               {{/with}}
          {{/with}}
          </div>
         </div>
     
     <br>
     <br>

     <div class="card">
          <div class="card-body">
     {{#with advantage}}
          <div>
               <div class="display-5 uppercase">{{title}}</div>
          </div>
     
     <br>

      <div class="card">
          <div class="card-body">
     {{#with efficiency}}
      <div>
           <div class="display-4">{{title}}</div>
     </div>

     <br>

          <div>
          <h6 class="uppercase">{{sub_title}}</h6>
          </div>

     <br>

          <p class="uppercase">{{description}}</p>

     <br>

          <button class=" btn btn-outline-warning btn-lg">{{button}}</button>

     {{/with}}
      </div>
         </div>

      <br>

      <div class="card">
          <div class="card-body">
     {{#with innovation}}
      <div>
           <div class="display-4 text-center">{{title}}</div>
     </div>

     <br>

          <div>
          <h6 class="text-center">{{sub_title}}</h6>
          </div>

     <br>

          <p class="text-center">{{description}}</p>

     <br>

          <button class=" btn btn-outline-warning btn-lg">{{button}}</button>

     {{/with}}
      </div>
         </div>

         <br>

      <div class="card">
          <div class="card-body">
     {{#with collaboration}}
      <div>
           <div class="display-4 text-end">{{title}}</div>
     </div>

     <br>

          <div>
          <h6 class="text-end">{{sub_title}}</h6>
          </div>

     <br>

          <p class="text-end">{{description}}</p>

     <br>

          <button class=" btn btn-outline-warning btn-lg">{{button}}</button>

     {{/with}}
      </div>
         </div>


     {{/with}}
     </div>
         </div>
     <br>

      <div class="card">
          <div class="card-body">
     {{#with agreement}}
      <div>
           <div class="display-4 uppercase">{{title}}</div>
     </div>

     <br>
     
      <div class="card">
          <div class="card-body">
     {{#with info}}
          <div>
          <h5 class="uppercase">{{sub_title}}</h5>
          </div>
     
     <br>
     
     <div class="card">
          <div class="card-body">
     {{#with detail}}
     <p class="uppercase">{{text}}</p>

     <br>

          <button class=" btn btn-success btn-lg">{{button}}</button>

     {{/with}}
     </div>
         </div>
     {{/with}}
      </div>
         </div>
     {{/with}}
      </div>
         </div>
     
      {{/with}}
      
</main>