<div class="card mt-5">  
                                <div class="card-body">
                                             
                                               <img class="card-img-top " src="{{img}}" alt="Product photo">
                                               {{#if isHot}}
                                                  <span class="badge text-bg-warning rounded-pill text-uppercase">HOT</span>
                                             {{/if}}
                                             {{#if isNew}}
                                                  <span class="badge text-bg-success rounded-pill text-uppercase">New</span>
                                             {{/if}}
                                             <br>
                                              {{#if isFast}}
                                                  <a class="btn btn-success btn-sm mt-3" href="#">Швидка доставка</a>
                                             {{/if}}
                                              <br>
                                              {{#if isFree}}
                                                  <a class="btn btn-secondary btn-sm mt-3" href="#">Безкоштовна доставка</a>
                                             {{/if}}
                                             <h5 class="mt-3">{{name}}</h5>
                                                    <p>{{amount}} {{text}}</p>
                                             <h4 class="mt-4">{{price}}</h4>
                                             <p>{{delivery}}</p>
                                                      {{#if isPrimary}}
                                                      <a class="btn btn-primary mt-3" href="{{link}}">{{text}}</a>
                                                      {{/if}}
                                                       {{#if isSecondary}}
                                                      <a class="btn btn-secondary mt-3" href="{{link}}">{{text}}</a>
                                                      {{/if}}
                                                    <ul class="mt-3">
                                                       <li>{{title}}: {{value}}</li>
                                                    </ul>
                               </div>
 </div>
      
