      <div class="row">
                         <div class="col-3">
                               <p>{{number}}</p>
                               <h5>{{status}}</h5>
                           
                         </div>
                         <div class="col-3">
                             
                                      <p>{{title}}</p>
                                      <h5>{{value}}</h5>
                           
                         </div>
                        
                                         <div class="col-1">
                                         <img class="card-img-top" src="{{this}}" alt="Product photo">
                                         </div>
                       
                         <div class="col-2">
                                          <a class="btn btn-primary" href="{{link}}">{{text}}</a>
                              
                         </div>
                         </div>
      
