      <div class="card ">
                        <div class="card-body">      
                                                  
                                                         <h6>{{userName}}</h6>
                                                         <p>{{caption}}</p>
                                                         <p>{{date}}</p>
                                                         <hr>
                                                         <p>{{title}}:{{value}}</p>
                                                         <p>{{title}}:{{value}}</p>
                                                          <p>{{text}}</p>
                                                             <h6>{{title}}:</h6>
                                                             <p>{{text}}</p>
                                                            <h6>{{title}}:</h6>
                                                            <p>{{text}}</p>       
                                                           <div class="row">                                                                  
                                                             <div class="col-1">
                                                                  <img class="card-img-top" src="{{this}}" alt="Product photo">      
                                                            </div>
                                                             <div class="card mt-4 col-11 ms-5 ">
                                                                  <div class="card-body ">
                                                                                <h5>{{userName}}</h5>
                                                                                <p>{{date}}</p>
                                                                                <p>{{text}}</p>
                                                                   </div>
                                                             </div>     
                         </div>
       </div>
      
